
.contenedor-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
}



.letras-correctas, .letras-incorrectas {
    font-family: 'Bungee Hairline', cursive;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.item-letra, .item-error {
    width: 1.5rem;
    height: 1.7rem;
    margin: 0 0.3rem;
    border-bottom: solid #000;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.item-letra {
    color: #52b788;}

.item-error {
    color: #f0003c;
}

.botones {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 8rem;
    height: 1.8rem;
    margin: 0 0.5rem;
    background-color: #f0003c;
    border-radius: 1rem;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}




.iconos {
    width: 1rem;
    color: blue;
    margin-right: 0.5rem;
}

.boton:hover {
    background-color: rgb(82, 0, 27);
}

.contenedor-mensaje {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;
    position: absolute;
    display: none;
}

.mensaje {
    width: 35%;
    height: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Bungee Hairline', cursive;
    font-weight: 600;
    color: #edf2f4;
    border-radius: 0.5rem;
}

.parrafo-1 {
    font-size: 1.5rem;
}

.parrafo-1, .parrafo-2 {
    text-align: center;
}

@media screen and (max-width: 480px) {

    .encabezado img {
        margin-left: 0.5rem;
    }

    .encabezado h1 {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    .contenedor-canvas, .letras-correctas, .letras-incorrectas {
        width: 95%;
    }

    .letras-correctas, .letras-incorrectas {
        justify-content: center;
        flex-wrap: wrap;
    }
    .mensaje {
        width: 100%;
    }

    .botones {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .boton {
        margin-top: 0.5rem;
    }
}